<div style="border-width:1px; border-style:solid; height: 150px; width: 1200px;">
    <h2 style="margin: 10px;">Summary</h2>
    <label style="margin: 20px;">bids: {{bids}}</label><br/>
    <label style="margin: 20px;">nobids: {{nobids}}</label><br/>
    <label style="margin: 20px;">nobids ratio: {{ratio}}</label><br/>
    <label style="margin: 20px;">impressions: {{impr}}</label><br/>
    <label style="margin: 20px;">fails: {{fails}}</label><br/>
    <label style="margin: 20px;">capturing: {{capture}}</label><br/>
</div>
<br/>
<div id="container1" style="border-width:1px; border-style:solid; height: 600px; width: 1200px; margin: 0 auto"></div>
<br/>
<div id="container2" style="border-width:1px; border-style:solid; height: 600px; width: 1200px; margin: 0 auto"></div>
<br/>
<div id="container3" style="border-width:1px; border-style:solid; height: 600px; width: 1200px; margin: 0 auto"></div>
<br/>
<div id="container4" style="border-width:1px; border-style:solid; height: 600px; width: 1200px; margin: 0 auto"></div>
<pre id="csv" style="display: none">{{{heatData}}}</pre>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/heatmap.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>

<script>
    function mav(series, len)
    {
        var average = [];

        for (var i = len - 1; i < series.length; i++)
        {
            var sum = 0;

            for (var j = 0; j < len; j++)
            {
                sum += series[i - j][1];
            }

            average.push([series[i][0], sum / len]);
        }

        return average;
    }

    var chunkSizeMS     = 1000 * 60 * {{chunkSize}};
    var ratioData       = {{ratioData}};
    var bidData         = {{bidData}};
    var nobidData       = {{nobidData}};
    var failData        = {{failData}};
    var avgRatioData    = mav(ratioData, 18);
    var avgBidData      = mav(bidData, 18);
    var avgNobidData    = mav(nobidData, 18);

    var bins = (function(){
        var ary  = [];
        var incr = {{binSize}};
        var max  = {{maxBins}};
        var last = 0;

        for (var i = 0; i < max - 1; i++)
        {
            ary.push(last + '-' + (last + incr));
            last += incr;
        }

        ary.push('> ' + last);

        return ary;
    })();

    function getBin(y)
    {
        return bins[y];
    }

    (function (H) {
        var dateRange2 = ' ' + H.dateFormat('%m-%d-%y %H:%M', {{dateStart}}) + '  to  ' +
            H.dateFormat('%m-%d-%y %H:%M', {{dateEnd}});

        var dateRange1 = dateRange2;

        if ({{cumulative}})
        {
            dateRange1 = 'Since: ' + ' ' + H.dateFormat('%m-%d-%y %H:%M', {{date}});
        }

        $('#container1').highcharts(
        {
            chart: {
                type: 'bar'
            },
            title: {
                text: '<b>Direct Latencies</b> ' + dateRange1,
                align: 'left'
            },
            xAxis: {
                reversed: false,
                categories: bins,
                title: {
                    text: 'Latency (ms)'
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Occurrences',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: false
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 0,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((H.theme && H.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: {{{histoData}}}
        });

        $('#container2').highcharts({
            title: {
                text: '<b>{{{source}}}</b> bids and nobids: ' + dateRange2,
                align: 'left'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond:    '%m-%d-%y<br/>%H:%M',
                    second:         '%m-%d-%y<br/>%H:%M',
                    minute:         '%m-%d-%y<br/>%H:%M',
                    hour:           '%m-%d-%y<br/>%H:%M',
                    day:            '%m-%d-%y<br/>%H:%M',
                    week:           '%m-%d-%y<br/>%H:%M',
                    month:          '%m-%d-%y<br/>%H:%M'
                }
            },
            yAxis: {
                title: {
                    text: 'Occurrences'
                },
                min: 0
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 0,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((H.theme && H.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            plotOptions: {
                line: {
                    marker: {
                        enabled: false,
                        symbol: 'circle'
                    }
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                formatter: function () {
                    return H.dateFormat('%m-%d-%y %H:%M', this.point.x) +
                        ' saw ' + Math.round(this.point.y) + ' occurrences';
                }
            },
            series: [
                {
                    name: 'bids',
                    data: bidData
                },
                {
                    name: 'avg bids',
                    data: avgBidData
                },
                {
                    name: 'nobids',
                    data: nobidData
                },
                {
                    name: 'avg nobids',
                    data: avgNobidData
                },
                {
                    name: 'fails',
                    data: failData
                }
            ]
        });

        $('#container3').highcharts({
            title: {
                text: '<b>{{{source}}}</b> nobids ratio: ' + dateRange2,
                align: 'left'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond:    '%m-%d-%y<br/>%H:%M',
                    second:         '%m-%d-%y<br/>%H:%M',
                    minute:         '%m-%d-%y<br/>%H:%M',
                    hour:           '%m-%d-%y<br/>%H:%M',
                    day:            '%m-%d-%y<br/>%H:%M',
                    week:           '%m-%d-%y<br/>%H:%M',
                    month:          '%m-%d-%y<br/>%H:%M'
                }
            },
            yAxis: {
                title: {
                    text: 'Ratio'
                },
                min: 0
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 0,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((H.theme && H.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            plotOptions: {
                line: {
                    marker: {
                        enabled: false,
                        symbol: 'circle'
                    }
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                formatter: function () {
                    return H.dateFormat('%m-%d-%y %H:%M', this.point.x) +
                        ' saw ' + this.point.y.toString().substr(0, 5) + ' ratio';
                }
            },
            series: [
                {
                    name: 'nobids ratio',
                    data: ratioData
                },
                {
                    name: 'avg nobids ratio',
                    data: avgRatioData
                }
            ]
        });

        var Series = H.Series,
            each = H.each,
            wrap = H.wrap,
            seriesTypes = H.seriesTypes;

        Series.prototype.getContext =
            function ()
            {
                if (!this.canvas)
                {
                    this.canvas = document.createElement('canvas');
                    this.canvas.setAttribute('width', this.chart.chartWidth);
                    this.canvas.setAttribute('height', this.chart.chartHeight);
                    this.image = this.chart.renderer.image(
                            '', 0, 0, this.chart.chartWidth, this.chart.chartHeight).add(this.group);
                    this.ctx = this.canvas.getContext('2d');
                }

                return this.ctx;
            };

        Series.prototype.canvasToSVG =
            function ()
            {
                this.image.attr({href: this.canvas.toDataURL('image/png')});
            };

        H.wrap(
            H.seriesTypes.heatmap.prototype,
            'drawPoints',
            function (proceed)
            {
                var ctx = this.getContext();

                if (ctx)
                {
                    // draw the columns
                    each(
                        this.points,
                        function (point)
                        {
                            var plotY = point.plotY,
                                shapeArgs;

                            if (plotY !== undefined && !isNaN(plotY) && point.y !== null)
                            {
                                shapeArgs = point.shapeArgs;

                                ctx.fillStyle = point.pointAttr[''].fill;
                                ctx.fillRect(shapeArgs.x, shapeArgs.y, shapeArgs.width, shapeArgs.height);
                            }
                        }
                    );

                    this.canvasToSVG();
                }
                else
                {
                    this.chart.showLoading("Your browser doesn't support HTML5 canvas, <br>please use a modern browser");
                }
            }
        );

        H.seriesTypes.heatmap.prototype.directTouch = false; // Use k-d-tree

        $('#container4').highcharts(
        {
            data: {
                csv: document.getElementById('csv').innerHTML
            },
            chart: {
                type: 'heatmap',
                margin: [40, 0, 115, 90]
            },
            title: {
                text: '<b>{{{heatName}}}</b> frequency map: '+ dateRange2,
                align: 'left'
            },
            yAxis: {
                categories: bins,
                gridZIndex: 1e10,
                title: {
                    text: 'Latency (ms)'
                }
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    format: '{value:%m-%d-%y<br/>%H:%M}'
                },
                min: {{dateStart}},
                max: {{dateEnd}}
            },
            colorAxis: {
                stops: [
                    [0.00, '#f7f7f7'],
                    [0.01, '#ffffff'],
                    [0.10, '#e5e5ff'],
                    [0.20, '#ccccff'],
                    [0.30, '#b2b3ff'],
                    [0.40, '#9999ff'],
                    [0.50, '#7f80ff'],
                    [0.60, '#6667ff'],
                    [0.70, '#4c4eff'],
                    [0.80, '#3334ff'],
                    [0.90, '#191bff'],
                    [1.00, '#0001b2']
                ],
                min: 0,
                max: 100
            },
            credits: {
                enabled: false
            },
            tooltip: {
                formatter: function () {
                    return H.dateFormat('%m-%d-%y %H:%M', this.point.x) +
                        ' saw ' +  this.point.value + '% @ ' + getBin(this.point.y) + 'ms';
                }
            },
            series: [{
                borderWidth: 0,
                nullColor: '#FFFFFF',
                colsize: chunkSizeMS,
                turboThreshold: Number.MAX_VALUE
            }]
        });
    }(Highcharts));
</script>